:root {
  --ui-color-red: 255, 59, 48, 1;
  --ui-color-orange: 255, 149, 0, 1;
  --ui-color-yellow: 255, 204, 0, 1;
  --ui-color-green: 48, 209, 88, 1;
  --ui-color-mint: 0, 199, 190, 1;
  --ui-color-teal: 48, 176, 199, 1;
  --ui-color-cyan: 50, 173, 230, 1;
  --ui-color-blue: 0, 122, 255, 1;
  --ui-color-indigo: 88, 86, 214, 1;
  --ui-color-purple: 175, 82, 222, 1;
  --ui-color-pink: 255, 45, 85, 1;
  --ui-color-brown: 162, 132, 94, 1;
  --ui-color-black: 0, 0, 0, 1;
  --ui-color-gray: 142, 142, 147, 1;
  --ui-color-gray-200: 99, 99, 102, 1;
  --ui-color-gray-300: 72, 72, 74, 1;
  --ui-color-gray-400: 209, 209, 214, 1;
  --ui-color-gray-500: 229, 229, 234, 1;
  --ui-color-gray-600: 242, 242, 247, 1;
  --ui-color-white: 255, 255, 255, 1;
  --ui-bg-primary: var(--ui-color-white);
  --ui-bg-secondary: var(--ui-color-gray-600);
  --ui-bg-tertiary: var(--ui-color-white);
  --ui-grouped-bg-primary: var(--ui-color-gray-600);
  --ui-grouped-bg-secondary: var(--ui-color-white);
  --ui-grouped-bg-tertiary: var(--ui-color-gray-600);
  --ui-label-primary: var(--ui-color-black);
  --ui-label-secondary: 60, 60, 67, 0.6;
  --ui-label-tertiary: 60, 60, 67, 0.3;
  --ui-label-quaternary: 60, 60, 67, 0.18;
  --ui-fill-primary: 120, 120, 128, 0.2;
  --ui-fill-secondary: 120, 120, 128, 0.16;
  --ui-fill-tertiary: 120, 120, 128, 0.12;
  --ui-fill-quaternary: 120, 120, 128, 0.08;
  --ui-separator-opaque: 198, 198, 200, 1;
  --ui-separator-non-opaque: 84, 84, 86, 0.34;
}

.dark {
  --ui-color-red: 255, 69, 58, 1;
  --ui-color-orange: 255, 159, 10, 1;
  --ui-color-yellow: 255, 214, 10, 1;
  --ui-color-green: 52, 199, 89, 1;
  --ui-color-mint: 99, 230, 226, 1;
  --ui-color-teal: 64, 203, 224, 1;
  --ui-color-cyan: 100, 210, 255, 1;
  --ui-color-blue: 10, 132, 255, 1;
  --ui-color-indigo: 94, 92, 230, 1;
  --ui-color-purple: 191, 90, 242, 1;
  --ui-color-pink: 255, 55, 95, 1;
  --ui-color-brown: 172, 142, 104, 1;
  --ui-color-black: 0, 0, 0, 1;
  --ui-color-gray: 142, 142, 147, 1;
  --ui-color-gray-200: 174, 174, 178, 1;
  --ui-color-gray-300: 199, 199, 204, 1;
  --ui-color-gray-400: 58, 58, 60, 1;
  --ui-color-gray-500: 44, 44, 46, 1;
  --ui-color-gray-600: 28, 28, 30, 1;
  --ui-color-white: 255, 255, 255, 1;
  --ui-bg-primary: var(--ui-color-black);
  --ui-bg-secondary: var(--ui-color-gray-600);
  --ui-bg-tertiary: var(--ui-color-gray-500);
  --ui-bg-elevated-primary: var(--ui-color-gray-600);
  --ui-bg-elevated-secondary: var(--ui-color-gray-500);
  --ui-bg-elevated-tertiary: var(--ui-color-gray-400);
  --ui-grouped-bg-primary: var(--ui-color-black);
  --ui-grouped-bg-secondary: var(--ui-color-gray-600);
  --ui-grouped-bg-tertiary: var(--ui-color-gray-500);
  --ui-grouped-bg-elevated-primary: var(--ui-color-gray-600);
  --ui-grouped-bg-elevated-secondary: var(--ui-color-gray-500);
  --ui-grouped-bg-elevated-tertiary: var(--ui-color-gray-400);
  --ui-label-primary: var(--ui-color-white);
  --ui-label-secondary: 235, 235, 245, 0.6;
  --ui-label-tertiary: 235, 235, 245, 0.3;
  --ui-label-quaternary: 235, 235, 245, 0.16;
  --ui-fill-primary: 120, 120, 128, 0.36;
  --ui-fill-secondary: 120, 120, 128, 0.32;
  --ui-fill-tertiary: 120, 120, 128, 0.24;
  --ui-fill-quaternary: 120, 120, 128, 0.18;
  --ui-separator-opaque: 56, 56, 58, 1;
  --ui-separator-non-opaque: 84, 84, 86, 0.6;
}